*{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 30px;
}

h2{
    background-color: brown;
    display: inline-block;
    padding: 30px 50px;
    height: 100px;
    width: 100px;
}